<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Empréstimo</title>
  </head>
  <body>
    <h1>Análise de Empréstimo</h1>
    <form action="/predict" method="post">
      <label>Sexo:</label><br>
      <input type="radio" name="gender" value="1" required> Masculino
      <input type="radio" name="gender" value="0"> Feminino<br><br>

      <label>Dependentes:</label><br>
      <select name="dependents" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3+</option>
      </select><br><br>

      <label>Casado:</label><br>
      <input type="radio" name="married" value="1" required> Sim
      <input type="radio" name="married" value="0"> Não<br><br>

      <label>Autônomo:</label><br>
      <input type="radio" name="self_employed" value="1" required> Sim
      <input type="radio" name="self_employed" value="0"> Não<br><br>

      <label>Educação:</label><br>
      <input type="radio" name="education" value="1" required> Superior
      <input type="radio" name="education" value="0"> Não Superior<br><br>

      <label>Rendimento:</label><br>
      <input type="number" name="income" placeholder="rendimento anual" required><br><br>

      <label>Valor do Empréstimo em mil:</label><br>
      <input type="number" name="loan_amount" placeholder="valor do empréstimo" required>mil $<br><br>

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>